/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */
@import "tailwindcss/utilities";
@import "prism-theme.css";
@import "typography.css";

body {
  @apply mx-8;
  @media (md) {
    @apply mx-0;
  }
}

.hashtag:before {
  content: "#";
  @apply mr-2 text-gray-400;
}

.theme-dark {
  --color-bg-primary: #ff73b3;
  --color-bg-secondary: #6f72b9;
}

.theme-light {
  --color-bg-primary: black;
  --color-bg-secondary: green;
}
