/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */
@import "tailwindcss/utilities";
@import "prism-theme.css";
@import "typography.css";

.hashtag:before {
  content: "#";
  @apply mr-2 text-gray-400;
}

.theme-dark {
  --color-bg-primary: theme("colors.gray.900");
  --color-bg-secondary: theme("colors.gray.800");
  --color-text-primary: theme("colors.gray.300");
  --color-text-secondary: theme("colors.gray.500");
  --color-border-primary: theme("colors.gray.700");
  --color-href-base: theme("colors.red.600");
  --color-href-hover: theme("colors.red.300");
  --color-href-active: theme("colors.red.400");
}

.theme-light {
  --color-bg-primary: theme("colors.gray.100");
  --color-bg-secondary: theme("colors.gray.200");
  --color-text-primary: theme("colors.gray.900");
  --color-text-secondary: theme("colors.gray.700");
  --color-border-primary: theme("colors.gray.300");
  --color-href-base: theme("colors.red.600");
  --color-href-hover: theme("colors.red.800");
  --color-href-active: theme("colors.red.700");
}
