.typography {
  @apply text-xl;
}

.typography > h1 {
  @apply inline-block mb-2 text-4xl font-extrabold;
}

.typography > h2 {
  @apply mt-12 mb-4 text-2xl font-bold tracking-tight;
}

.typography > h3 {
  @apply mt-12 mb-4 text-xl font-bold;
}

.typography > h4,
.typography > h5,
.typography > h6 {
  @apply mt-6 mb-2 font-bold;
}

.typography > p, .typography > ul {
  @apply text-lg;
}

@screen md {
  .typography > p, .typography > ul {
    @apply text-xl;
  }
}

.typography > p + p {
  @apply mt-6;
}

.typography > p + pre,
.typography > pre + p,
.typography > pre + pre {
  @apply mt-6;
}

.typography > a,
.typography > p > a,
.typography > ul > li > a {
  background-image: linear-gradient(0deg, var(--color-href-base), var(--color-href-base));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  transition: background-size 0.4s;

  &:hover,
  &:active {
    background-size: 100% 40%;
  }
}

.typography > ul {
  list-style-type: disc;
  @apply my-6 ml-6;
}

.typography > ol {
  @apply ml-6 list-decimal;
}

.typography > figure {
  @apply w-full mb-6 ml-auto mr-auto;
}

.typography > figure img {
  @apply block ml-auto mr-auto rounded shadow-xl;
}

.typography > figure figcaption {
  @apply mt-2 ml-6 text-base italic text-center text-gray-500;
}

.typography > code,
.typography > pre {
  @apply text-sm;

  /* white-space: pre-wrap; */
  /* word-wrap: break-word; */
  /* text-align: justify; */
}
@screen md {
  .typography > code,
  .typography > pre {
    @apply text-base;
  }
}

.typography > pre {
  @apply p-4 -mx-4 bg-background-secondary;
}
@screen md {
  .typography > pre {
    @apply p-8 -mx-8 rounded-md;
  }
}

.typography > hr {
  @apply my-6 border-border-primary;
}

.typography > blockquote {
  @apply px-4 py-4 my-6 -mx-4 italic border-l-8 rounded bg-background-secondary border-border-primary;
  quotes: "\201C""\201D";
}

.typography > blockquote cite {
  @apply text-lg text-foreground-secondary;
}

.typography > blockquote:before {
  @apply text-gray-500;

  content: open-quote;
  font-size: 3.5em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.typography > blockquote p {
  @apply text-xl;
  display: inline;
}

.typography > svg {
  height: auto;
}

.typography > .iframe {
  @apply relative mt-6;

  padding-bottom: calc((9 / 16) * 100%);
}

.typography > .iframe > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body.dark-mode .typography > table {
  @apply text-gray-100 divide-gray-700;
}

body.dark-mode .typography > table > thead > tr > th {
  @apply text-gray-300;
}

body.dark-mode .typography > table > tbody {
  @apply divide-gray-700;

}

.typography > table {
  @apply mt-4 min-w-full divide-y divide-gray-300 font-mono text-sm block overflow-x-auto whitespace-nowrap text-gray-700;
}

.typography > table + table {
  @apply mt-0 border-gray-300 border-t;
}

.typography > table > thead > tr > th {
  @apply py-2 px-3 font-semibold text-gray-900;
}

.typography > table > thead > tr > th:not([align]) {
  @apply text-left;
}

.typography > table > tbody {
  @apply divide-y divide-gray-200;
}

.typography > table > tbody > tr > td {
  @apply whitespace-nowrap py-1 px-3;
}

.typography > table > thead > tr > th:first-of-type,
.typography > table > tbody > tr > td:first-of-type {
  @apply pl-0
}