.typography > {
  @apply text-xl;

  h1 {
    @apply font-extrabold text-4xl mb-2 inline-block;
  }

  h2 {
    @apply font-bold tracking-tight text-2xl mt-12 mb-4;
  }

  h3 {
    @apply font-bold text-xl mt-12 mb-4;
  }

  h4,
  h5,
  h6 {
    @apply font-bold mt-6 mb-2;
  }

  p {
    @apply text-lg;
  }
  @screen md {
    p {
      @apply text-xl;
    }
  }

  p + p {
    @apply mt-6;
  }

  p + pre,
  pre + p,
  pre + pre {
    @apply mt-6;
  }

  a,
  p > a,
  ul > li > a {
    @apply text-href-base underline;
  }

  a:hover,
  a:active {
    @apply text-href-hover;
  }

  ul {
    list-style-type: disc;
    @apply ml-6 my-6;
  }

  ol {
    @apply list-decimal ml-6;
  }

  figure {
    @apply mb-6 mr-auto ml-auto w-full;
  }

  figure img {
    @apply shadow-xl block mr-auto ml-auto rounded;
  }

  figure figcaption {
    @apply text-base italic text-center text-gray-500 mt-2 ml-6;
  }

  code,
  pre {
    @apply text-sm;

    /* white-space: pre-wrap; */
    /* word-wrap: break-word; */
    /* text-align: justify; */
  }
  @screen md {
    code,
    pre {
      @apply text-base;
    }
  }

  pre {
    @apply -mx-4 p-4 bg-background-secondary;
  }
  @screen md {
    pre {
      @apply rounded-md -mx-8 p-8;
    }
  }

  hr {
    @apply my-6 border-border-primary;
  }

  blockquote {
    @apply bg-background-secondary border-l-8 border-border-primary my-6 py-4 px-4 rounded italic -mx-4;
    quotes: "\201C""\201D";
  }

  blockquote cite {
    @apply text-lg text-foreground-secondary;
  }

  blockquote:before {
    @apply text-gray-500;

    content: open-quote;
    font-size: 3.5em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  blockquote p {
    @apply text-xl;
    display: inline;
  }

  svg {
    height: auto;
  }

  .iframe {
    @apply relative mt-6;
    padding-bottom: calc((9 / 16) * 100%);
    > iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
